﻿@{
    ViewBag.Title = "CustomError";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
<div>Oops! We are awfully sorry but we are unable to process your request at this time. Please try again later.</div>
</body>
</html>