﻿@using Simple.Models
@model IEnumerable<Simple.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>List of customers</h2>

 @foreach (var customer in Model)
 {
     <h3>First Name</h3>
     <p>@customer.FirstName</p>
     
     <h3>Last Name</h3>
     <p>@customer.LastName</p>
     
     <h3>Shopping Frequency</h3>
     <p>@customer.Frequency</p>
 }
