﻿@using Simple.Models
@model IEnumerable<Simple.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>List of customers</h2>

 @foreach (var customer in Model)
 {
     <h3>First Name</h3>
     <p>@Html.TextBoxFor(c => customer.FirstName, new {@disabled=true})</p>
     
     <h3>Last Name</h3>
     <p>@Html.TextBoxFor(c => customer.LastName, new {@disabled=true})</p>
     
     <h3>Shopping Frequency</h3>
     <p>@Html.TextBoxFor(c => customer.Frequency, new {@disabled=true})</p>
 }
