﻿@model Simple.Models.Customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="POST" action="/customers/edit">

@Html.EditorForModel()

<input type="submit" value="Update"/>    

</form>